.blog__article {
  flex: 1 30rem;
  margin: 1rem 5% 2rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: space-between;

  .blog__image {
    width: 280px;
    margin: 0 auto 2rem;
    background-color: rgba(255, 255, 255, 1);
    @include element-shadow;

    &--img {
      margin: 0.3rem;
      padding-bottom: 210px;
      background-color: $khaki-color;
      opacity: 0.7;
    }
  }
}

.blog__title {
  font-family: "Roboto Slab";
  text-transform: none;
  text-shadow: 0px 0px 1px;
  text-align: left;
  opacity: 0.9;

  &--caption {
    margin: 0.5rem 0;
    font-size: 0.8rem;
    font-family: "Oswald";
    text-align: left;
    text-shadow: 0px 0px 1px;
    opacity: 0.7;
  }

  &--separator {
    margin: 1rem auto;
    width: 100%;
    box-shadow: 0px 0px 2px $text-dark-color;
  }
}

.blog__paragraph {
  margin: 1rem 0;
  font-family: "Roboto Slab";
  font-size: 1.4rem;
  line-height: 1.8;
  text-align: left;

  &--more {
    font-size: 1rem;
    opacity: 0.7;
    font-weight: bold;
    text-transform: uppercase;
    @include transition-ease;

    &:link {
      color: $text-dark-color;
    }

    &:visited,
    &:focus,
    &:active,
    &:hover {
      opacity: 1;
      color: $brickred-color;
    }
  }
}