.main {
  color: $text-dark-color;
  text-align: center;
  @include transition-ease;

  &__about {
    background: url(../images/background/about-background-w1100.png);
  }

  &__portfolio {
    background: url(../images/background/portfolio-background-w1100.png);
  }
  
  &__blog {
    background: url(../images/background/blog-background-w1100.png);
  }

  &__title {
    @include main-title;
  }

  &__container {
    margin: 2rem 15%;
    @include flex-row;
    flex-wrap: wrap;
  }

  &__dashline {
    @include dashline-first;
    border-color: $text-dark-color;

    &--bottom {
      @include dashline-second;
      border-color: $text-dark-color;
    }
  }
}