.main {
  color: $text-dark-color;
  text-align: center;
  @include transition-ease;

  &__about {
    background: url(../images/background/about-background-w1100.png);
  }

  &__portfolio {
    background: url(../images/background/portfolio-background-w1100.png);
  }
  
  &__blog {
    background: url(../images/background/blog-background-w1100.png);
  }

  &__title {
    @include main-title;
  }

  &__container {
    margin: 2rem 15%;
    @include flex-row;
    flex-wrap: wrap;
  }

  &__article {
    flex: 1 30rem;

    .article__image {
      display: inline-block;
      margin: 2rem auto 1rem;
      width: 10rem;

      &--img {
        width: 100%;
      }
    }

  .article__title {
      margin: 1rem auto;
    
      &--caption {
        margin: 1.5rem auto;
        font-family: "Roboto Slab";
        text-shadow: 0px 0px 1px $text-dark-color;
      }
    
      &--underline {
        margin: 1.2rem auto;
        width: 5rem;
        background-color: $text-dark-color;
        padding-bottom: 1px;
        box-shadow: 0px 0px 2px $text-dark-color;
      }
    }

    .article__paragraph {
      margin: 1rem 2rem;
      font-family: "Roboto Slab";
      font-size: 1.4rem;
      line-height: 1.8;
      text-align: left;
    }
  }

  &__dashline {
    @include dashline-first;
    border-color: $text-dark-color;

    &--bottom {
      @include dashline-second;
      border-color: $text-dark-color;
    }
  }
}