.footer {
  font-size: 2.2rem;
  color: $text-fair-color;
  text-align: center;

  background: url(../images/background/footer-background-w1100.png);;
  @include transition-ease;

  &__title {
    @include main-title;
  }

  .social__title {
    margin: 3rem auto 1rem;

    &--underline {
      margin: 1.2rem auto;
      width: 5rem;
      background-color: $text-fair-color;
      padding-bottom: 2px;
    }
  }

  &__social-media {
    @include flex-row;
    width: 35rem;
    margin: 3rem auto 1.5rem;
  }

  .social-media__button {
    cursor: pointer;
    width: 7rem;

    &--image {
      width: 100%;
      border-radius: 50%;
      transition: all 1s ease;
    
      &:focus,
      &:hover {
        background-color: $text-fair-color;
        box-shadow: 0px 0px 1rem;
      }
    }
  }

  &__form-container {
    display: inline-block;
    margin: 2rem auto;
    width: 35rem;
  }

  &__dashline {
    @include dashline-first;
    border-color: $text-fair-color;

    &--bottom {
      @include dashline-second;
      border-color: $text-fair-color;
    }
  }
}